/Clash_royale_4/nbproject/private/
/Clash_royale_4/build/
/Actividad_Switch_1/nbproject/private/
/Actividad_Switch_1/build/
/JavaApplication17/nbproject/private/
/Switch_meses/nbproject/private/
/Switch_meses/build/
